<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha de publicacion</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @noticias.each do |i| %>
    
    <tr>
      <td><%= i.title %></td>      
      <td> <%= i.author %></td>
      <td> <%= i.publication_date %></td>
      <td> <%= link_to 'Ver', admin_notice_path(i), class: "btn btn-link" %></td>
      <td> <%= link_to 'Editar', edit_admin_notice_path(i), class: "btn btn-link" %></td>
      <td><%= link_to "Eliminar", admin_notice_path(i), class: "btn btn-link", method: :delete, data: { confirm: "¿Estás seguro de eliminar esta investigacion?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>  