 <!-- Page Content -->
    <div class="container">
      <br>
      <br>
      <!-- Heading Row -->
      <div class="row my-4 container-hero">
        <div class="col-lg-8">
          <%=image_tag(@noticia.image_url, class: "img-fluid rounded")%>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h3><%= @noticia.title %></h3>
          <hr>
          <p><%= truncate(@noticia.description, length:300) %></p>
          <%= link_to 'ver mas', noticium_path(@noticia), class: "btn btn-primary" %>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">En este sitio web encontrara serie de eventos que se encuentran actualmente activas con investigaciones y demas, <span>Si usted tiene informacion confidencial de lo que se muestre en este portal puede contactarnos o dejarnos un comentario haciendo saber la informacion que tenga para hacer parte a la investigacion del mismo</span></p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <% @noticias.each do |i| %>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title"><%= i.title %></h4>
                <p class="card-text"><%= truncate(i.description, length:100)  %></p>
              </div>
              <div class="card-footer">
                <%= link_to 'ver mas', noticium_path(i), class: "btn btn-primary" %>
              </div>
            </div>
        </div>
        <% end %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
